@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  background-color: rgb(255,208,50);
}

#title{
    width: 50%;
    padding:20px;
    padding-top:35px;
}

h1{
    font-style: italic;
    color:  #ffffff;
}

img{
    width: 100%;
}

canvas{
    width: 100%;
    z-index: -1;
    height: 100vh;
}

p{
  max-width: 50%;
  display:inline;
}

#email{
  max-width: 50%;
  display:inline;
}

.generate{
    z-index: 1;
    flex-direction: row;
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: flex-start; /*vertical*/
    /*
    border: 3px solid rgb(255,129,49);
    */
    padding-top:20px;
    padding-bottom:20px;
  }

  

  .generate button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid rgb(255,129,49);
    outline: none;
    background: rgb(255,129,49);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin:10px;
  }

  .generate button:hover{
    background: white;
  }


  .generate label{
    padding: 10px 25px;
    padding-top:10px;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid rgb(255,129,49);
    outline: none;
    background: rgb(255,129,49);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin:10px;
  }

  .generate input{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid rgb(255,129,49);
    outline: none;
    background: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    margin-right:100px;
  }






body{
    background: white;
}

.container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    background:white;
    padding-top: 0px;
    margin-top: 100px;
  }

.drag-area{
  border: 5px dashed rgb(255,129,49);
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 3px solid rgb(255,129,49);;
}
.drag-area .icon{
  font-size: 100px;
  color: rgb(255,129,49);
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  background-color:white;
  color: black;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid rgb(255,129,49);;
  outline: none;
  background: rgb(255,129,49);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area button:hover{
  background:white ;
}

#download-icon{
  width:20%;
  height:25%;
}

.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.output{
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* FOOTER */
footer {
  display: flex;
  padding: 20px;
  font: size 15px;
  background-color: rgb(32,28,71);
  color: white;
  box-shadow: 0 50vh 0 50vh rgb(32,28,71);
}
a{
  color:white;
}


/*DROPDOWN MENU*/

.multiselect {
  position: relative;
  width: 400px;
  margin-top: 10px;
  margin-left: 0px;
}

.selectBox {
  position: relative;

  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  margin-left:0px;
  background: rgb(255,129,49);
  border: 3px solid rgb(255,129,49);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.selectBox select {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  border:none;
  background-color: rgb(255,129,49);
}
.selectBox:hover #select_dropdown{
  background-color: white;
}


.selectBox:hover{
  background-color: white;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: none;
  height:0px;
  border:2px solid #ccc; 
  height: 100%;
  overflow-y: scroll;
  height: 200px;
}

#checkboxes label {
  display: block;
}

/*
#checkboxes label:hover {
  background-color: white;
}
*/


/* Custome color to each dropdown */
#_0{
  background-color: rgba(19, 19, 19, 0.7);
  color: black;
}
#_1{
  background-color: rgba(221,196,142,1);
  color: black;
}
#_2{
  background-color: rgba(0,108,183,1);
  color: black;
}
#_3{
  background-color: rgba(150,199,83,1);
  color: black;
}
#_4{
  background-color: rgba(245,136,48,1);
  color: black;
}
#_5{
  background-color: rgba(221,26,33,1);
  color: black;
}
#_6{
  background-color: rgba(225,205,3,1);
  color: black;
}
#_7{
  background-color: rgba(154,202,60,1);
  color: black;
}
#_8{
  background-color: rgba(0,146,71,1);
  color: black;
}
#_9{
  background-color: rgba(100,103,101,1);
  color: black;
}
#_10{
  background-color: rgba(246,173,205,1);
  color: black;
}
#_11{
  background-color: rgba(76,47,146,1);
  color: black;
}
#_12{
  background-color: rgba(175,116,70,1);
  color: black;
}
#_13{
  background-color: rgba(160,161,159,1);
  color: black;
}
#_14{
  background-color: rgba(105,46,20,1);
  color: black;
}
#_15{
  background-color: rgba(135,141,143,1);
  color: black;
}
#_16{
  background-color: rgba(244,244,244,1);
  color: black;
}




#share_page{
  position: absolute;
  display:inline;
  max-width:30%;
  right: 0px;
  padding-bottom: 20px;
  padding-right: 20px;
}

/* INSTRUCTIONS*/
.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

.cell {
  padding: 10px;
  background-color: rgb(0,108,180);
  border: 3px solid rgb(0,108,180);
  color: white;
}

.cell:hover{
  background-color: white;
  color:black;
}


.instructions{
  display: flex;
  align-items: center;
  justify-content: center; /*horizontally*/
}

.colors-required{
  margin:10px;
  margin-left:40px;
  width:auto;
  height: auto;
  max-height: 400px;
  overflow-y: scroll;

  
}

.instructions li{
  height:60px;
  width:auto;
  border: 1px solid black;
  white-space: pre;
  padding-right: 80px;
}
br{
  white-space: pre;
}


.output_instructions{
  width: auto;
  height: auto;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.output_instructions canvas{
  height: 100%;
  width: 100%;
}


/*FOR MOBILE DISPLAY*/
@media screen and (max-width: 950px) {
  canvas{
    height: 50vh;
  }

  .generate{
    display: table;
    flex-direction: row;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    margin: auto;
  }

  .multiselect {
    width: 90%;
    margin: auto;
  }

  #checkboxes {
    height: 400px;
    overflow-y: scroll;
  }

  #title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  #share_page{
    padding-right: 0px;
  }
  .instructions{
    display: inline-block;
  }
  .instructions li{
    margin-left:25%;
    max-width: 50%;
  }
  a{
    font-size: 15px;
  }
  .output_instructions{
    padding-top: 0px;
}

